/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stilovi za opšti izgled stranice */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #8fbce0;
    color: #333;
    margin: 0;
}

/* Stilovi za labelu i input */
.input-admin {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
}

.label-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
}

.adminselect {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Stilovi za opšti izgled forme */
.admin-form-container {
    width: 80%;
    max-width: 600px;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    margin: 20px auto;
    height: 100vh;
    background-position: center;
}

/* Stilovi za opšti izgled forme */
.admin-header-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Stilovi za izbor akcije */
.admin-select-action {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 1.2em;
    box-sizing: border-box;
    display: inline-block;
}

/* Dodatni stilovi za responzivnost na manjim ekranima */
@media (max-width: 768px) {
    .admin-form-container {
        width: 90%;
    }
}

/* Dodatni stilovi za InsertForm komponentu */
.admin-insert-form {
    color: #333;
}

.admin-insert-label {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.admin-insert-input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 8px;
    font-size: 1.2em;
}

.admin-insert-button-container {
    text-align: center;
}

.admin-insert-button {
    margin-right: 15px;
    padding: 12px;
    font-size: 1.2em;
}

/* Dodatni stilovi za UpdateDeleteForm komponentu */
.admin-update-delete-form {
    color: #333;
}

.admin-update-delete-label {
    margin-bottom: 15px;
    font-size: 1.5em;
}

.admin-update-delete-input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 8px;
    font-size: 1.2em;
}

.admin-update-delete-button-container {
    text-align: center;
}

.admin-update-button,
.admin-delete-button {
    margin-right: 15px;
    padding: 12px;
    font-size: 1.2em;
}


  
  
  