.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
  input,
  textarea {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1.1em;
  }
  /* styles.css */

body {
  margin: 0;
  padding: 0;
  background-image: url('/public/images/pozadina.jpg'); 
  background-size: cover; 
  background-position: center; 

}

  button {
    padding: 8px 16px;
    background-color: #f56e30;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  /* Contact.css */

.contact-container {
  text-align: center; 
}

.contact-title {
  
  margin-bottom: 20px; 
 
  font-size: 2em;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  
  font-size: 1.5em;
}

.content {
  text-align: center; 
}
