.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px; /* Dodao padding da poboljša izgled i prostor oko elemenata */
  background-color: rgba(255, 255, 255, 0.9); /* Dodao providnost i boju pozadine */
  border-radius: 10px; /* Dodao zaobljenje ivica */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Dodao blagu senku */
  }
  
  .contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc; /* Dodao ivice oko input polja */
  border-radius: 5px; /* Dodao zaobljenje ivica za input polja */
}
  /* styles.css */

body {
  margin: 0;
  padding: 0;
  background-image: url('/public/images/pozadina.jpg'); 
  background-size: cover; 
  background-position: center; 

}

button {
  padding: 10px 16px;
  background-color: #f56e30;
  color: white;
  border: none;
  border-radius: 5px; /* Dodao zaobljenje ivica za dugme */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Dodao animaciju za hover efekat */
}

  button:hover {
    background-color: #0056b3;
  }

  /* Contact.css */

.contact-container {
  text-align: center; 
}

.contact-title {
  
  margin-bottom: 20px; 
 
  font-size: 2em;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  
  font-size: 1.5em;
}

.content {
  text-align: center; 
}
