.eight-ball-container {
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 300px;
  border: 0px dotted rgba(9, 9, 121, 1);
  font-family: 'Helvetica Neue', arial;
  color: white;
  font-weight: 100;
  background: linear-gradient(10deg, rgb(141, 95, 75) 0%, rgb(121, 69, 9) 44%, rgb(195, 159, 31) 100%);
}

.eight-ball-container h1 {
  font-weight: 100;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.eight-ball-info {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.eight-ball-question {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid black;
  width: 400px;
  height: 30px;
  padding: 10px;
}

.eight-ball-question:focus {
  outline: none;
}

.eight-ball-main {
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.eight-ball-content {
  background: white;
  border: 1px solid #333;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin: 25% auto;
}

.eight-ball-start {
  font-size: 3em;
  margin: 28% auto;
  color: black;
}

.eight-ball-answer {
  padding: 20px;
  color: black;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 700;
}

.eight-ball-error {
  padding: 20px;
  border-radius: 50%;
  color: red;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 700;
}


  
  
  
  