body {
  font-family: 'Montserrat', sans-serif;
    background-color: #8fbce0;
    color: #333;
    margin: 0;
  }
  
  .header {
    background-color: #2196F3;
    color: white;
    padding: 15px;
    text-align: center;
  }

  .header-title {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff; /* White text color */
    font-weight: 700; /* Bold */
    font-size: 2rem; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Add some spacing */
    margin-top: 30px;
    border-bottom: 0px solid #3498db; /* Add an underline effect */
    display: inline-block; /* Ensure the border does not take the full width */
    padding-bottom: 5px; /* Adjust the padding as needed */
    text-align: center; /* Center the text */
    width: 100%; /* Ensure the text takes the full width */
  }
  
  
  .navbar {
    background-color: #1565C0;
    color: white;
    padding: 10px;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .main-content {
    padding: 20px;
  }
  
  .footer {
    background-color: #2196F3;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .button {
    background-color: #1565C0;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
  }

  /* styles.css */

  .upper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    height: 100vh; /* Set the height of the container to the full viewport height */
  }
  
  /* Style the gallery */
  .gallery-container {
    width: 80%; /* Adjust the width as needed */
    max-width: 1200px; /* Limit the maximum width for larger screens */
  }

/* Style the gallery */
.image-gallery {
  width: 100%; 
  max-width: 100%; /* Adjust the maximum width as needed */
  margin: 0 auto; 
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Opciono: dodaj razmak između slika */
}



/* Style the image in the gallery */
.image-gallery-image {
  width: 100%;
  max-height: 70vh; /* Set the maximum height of the image */
}

/* Optional: Add some spacing between the images */
.image-gallery-slide img {
  margin: 0 10px;
}

.image-gallery-left-nav, .image-gallery-right-nav {
  font-size: 24px; /* Adjust the arrow size */
  color: #333; /* Set the arrow color */
}

@media (max-width: 768px) {
  .gallery-container {
    width: 90%; /* Adjust for smaller screens */
  }

  .image-gallery {
    max-width: 90%; /* Adjust for smaller screens */
  }

  .image-gallery-image {
    max-height: 50vh; /* Adjust the maximum height for smaller screens */
  }
}