body {
  font-family: 'Montserrat', sans-serif;
    background-color: #8fbce0;
    color: #333;
    margin: 0;
  }
  
  .header {
    background-color: #f56e30;
    color: white;
    padding: 15px;
    text-align: center;
  }

  .header-title {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff; 
    font-weight: 700; 
    font-size: 2rem;
    margin-bottom: 20px; 
    margin-top: 30px;
    border-bottom: 0px solid #f56e30; 
    display: inline-block; 
    padding-bottom: 5px; 
    text-align: center; 
    width: 100%; 
  }
  
  
  .navbar {
    background-color: #eace80;
    color: white;
    padding: 10px;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .main-content {
    padding: 20px;
  }
  
  .footer {
    background-color: #f56e30;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .button {
    background-color: #f56e30;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
  }


  .upper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    height: 100vh; 
  }
  
  
  .gallery-container {
    width: 80%; 
    max-width: 1200px; 
  }


.image-gallery {
  width: 100%; 
  max-width: 100%; 
  margin: 0 auto; 
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}




.image-gallery-image {
  width: 100%;
  max-height: 70vh; 
}


.image-gallery-slide img {
  margin: 0 10px;
}

.image-gallery-left-nav, .image-gallery-right-nav {
  font-size: 24px; 
  color: #333; 
}

@media (max-width: 768px) {
  .gallery-container {
    width: 90%; 
  }

  .image-gallery {
    max-width: 90%; 
  }

  .image-gallery-image {
    max-height: 50vh; 
  }
}